In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('sample_data.csv')

In [4]:
data.head()

   Gender  Age_less_35                    JobRole  Attrition
0    Male         True      Laboratory Technician          0
1    Male        False            Sales Executive          1
2    Male         True       Sales Representative          1
3  Female        False  Healthcare Representative          0
4    Male         True            Sales Executive          0

In [12]:
p = data['Attrition'].value_counts(normalize = True).values

In [18]:
-np.sum(p*np.log2(p))

0.6554120818442417

In [31]:
def entropy(y):
    p = y.value_counts(normalize = True).values
    ent = -np.sum(p*np.log2(p))
    return ent

In [32]:
entropy(data['Attrition'])

0.6554120818442417

In [40]:
def calucalte_weighted_entropy(feature, y):
    categories = feature.unique()

    weighted_entropy = 0.0
    
    for category in categories:
        y_category = y[category == feature]
        ent_category = entropy(y_category)
        
        weighted_entropy += (len(y_category)/len(y)) * ent_category
        
    return weighted_entropy

In [44]:
calucalte_weighted_entropy(data['Age_less_35'], data['Attrition'])

0.6339490169245043

In [39]:
categories = data['Age_less_35'].unique()

In [36]:
entropy(data['Attrition'][data["Gender"]=='Male'])

0.6568540844475503

In [37]:
entropy(data['Attrition'][data["Gender"]=='Female'])

0.6530606453563348

In [45]:
def information_gain(feature, y):
    parent_entropy = entropy(y)
    
    child_entropy = calucalte_weighted_entropy(feature, y)
    
    ig = parent_entropy - child_entropy
    
    return ig

In [57]:
for f in data.columns[:-1]:
    print(f"Feature ({f}) : {information_gain(data[f], data['Attrition']).round(5)}")

Feature (Gender) : 0.0
Feature (Age_less_35) : 0.02146
Feature (JobRole) : 0.0543

## Gini

In [59]:
1 - (0.5**2 + 0.5**2)

0.5

In [60]:
1- (0.3**2 + 0.7**2)

0.42000000000000004

In [61]:
1- (1**2 + 0**2)

0

In [62]:
def gini(y):
    p = y.value_counts(normalize = True).values
    g = 1-np.sum(p**2)
    return g